<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buyuji.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,180},{192,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,44}}</string>
                <key>sourceSize</key>
                <string>{192,44}</string>
            </dict>
            <key>font_jiesuo_look.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,372},{90,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,30}}</string>
                <key>sourceSize</key>
                <string>{90,30}</string>
            </dict>
            <key>font_teach_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,164},{66,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,30}}</string>
                <key>sourceSize</key>
                <string>{66,30}</string>
            </dict>
            <key>font_teach_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{68,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,32}}</string>
                <key>sourceSize</key>
                <string>{68,32}</string>
            </dict>
            <key>font_teach_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,164},{66,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,32}}</string>
                <key>sourceSize</key>
                <string>{66,32}</string>
            </dict>
            <key>font_teach_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,372},{66,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,32}}</string>
                <key>sourceSize</key>
                <string>{66,32}</string>
            </dict>
            <key>fonts_other_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,180},{154,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,50}}</string>
                <key>sourceSize</key>
                <string>{154,50}</string>
            </dict>
            <key>ui_button_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,196},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>ui_high_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{426,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{426,160}}</string>
                <key>sourceSize</key>
                <string>{426,160}</string>
            </dict>
            <key>ui_main_LV.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{286,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,82}}</string>
                <key>sourceSize</key>
                <string>{286,82}</string>
            </dict>
            <key>ui_text_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,144},{66,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,34}}</string>
                <key>sourceSize</key>
                <string>{66,34}</string>
            </dict>
            <key>ui_text_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,108},{66,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,34}}</string>
                <key>sourceSize</key>
                <string>{66,34}</string>
            </dict>
            <key>ui_text_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,72},{66,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,34}}</string>
                <key>sourceSize</key>
                <string>{66,34}</string>
            </dict>
            <key>ui_text_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,36},{66,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,34}}</string>
                <key>sourceSize</key>
                <string>{66,34}</string>
            </dict>
            <key>ui_text_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,372},{90,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,34}}</string>
                <key>sourceSize</key>
                <string>{90,34}</string>
            </dict>
            <key>ui_text_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,464},{108,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,34}}</string>
                <key>sourceSize</key>
                <string>{108,34}</string>
            </dict>
            <key>ui_text_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{110,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,34}}</string>
                <key>sourceSize</key>
                <string>{110,34}</string>
            </dict>
            <key>ui_text_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,336},{108,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,34}}</string>
                <key>sourceSize</key>
                <string>{108,34}</string>
            </dict>
            <key>ui_text_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,374},{90,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,34}}</string>
                <key>sourceSize</key>
                <string>{90,34}</string>
            </dict>
            <key>ui_text_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,466},{108,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,34}}</string>
                <key>sourceSize</key>
                <string>{108,34}</string>
            </dict>
            <key>ui_text_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,374},{90,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,34}}</string>
                <key>sourceSize</key>
                <string>{90,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UI_GameText_cn.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c925aaf9f330d9018b9e1dfebcc02ccc$</string>
            <key>textureFileName</key>
            <string>UI_GameText_cn.png</string>
        </dict>
    </dict>
</plist>
