<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Chelonian_death_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{181, 645}, {80, 101}}</string>
			<key>offset</key>
			<string>{-5, 0}</string>
			<key>sourceSize</key>
			<string>{115, 115}</string>
		</dict>
		<key>Chelonian_death_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{466, 487}, {101, 59}}</string>
			<key>offset</key>
			<string>{-4, 0}</string>
			<key>sourceSize</key>
			<string>{115, 115}</string>
		</dict>
		<key>Chelonian_death_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{203, 540}, {90, 104}}</string>
			<key>offset</key>
			<string>{-4, 0}</string>
			<key>sourceSize</key>
			<string>{115, 115}</string>
		</dict>
		<key>Chelonian_death_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{294, 600}, {81, 80}}</string>
			<key>offset</key>
			<string>{-7, 0}</string>
			<key>sourceSize</key>
			<string>{115, 115}</string>
		</dict>
		<key>Chelonian_death_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{396, 547}, {82, 101}}</string>
			<key>offset</key>
			<string>{-5, 0}</string>
			<key>sourceSize</key>
			<string>{115, 115}</string>
		</dict>
		<key>GoldenTrout_death_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{639, 451}, {75, 47}}</string>
			<key>offset</key>
			<string>{-7, 3}</string>
			<key>sourceSize</key>
			<string>{125, 94}</string>
		</dict>
		<key>GoldenTrout_death_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{102, 515}, {100, 45}}</string>
			<key>offset</key>
			<string>{-1, 2}</string>
			<key>sourceSize</key>
			<string>{125, 94}</string>
		</dict>
		<key>GoldenTrout_death_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{89, 743}, {80, 50}}</string>
			<key>offset</key>
			<string>{-8, 11}</string>
			<key>sourceSize</key>
			<string>{125, 94}</string>
		</dict>
		<key>GoldenTrout_death_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{173, 380}, {105, 36}}</string>
			<key>offset</key>
			<string>{2, 0}</string>
			<key>sourceSize</key>
			<string>{125, 94}</string>
		</dict>
		<key>GoldenTrout_death_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{284, 295}, {74, 47}}</string>
			<key>offset</key>
			<string>{-7, 3}</string>
			<key>sourceSize</key>
			<string>{125, 94}</string>
		</dict>
		<key>JadePerch_death_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{283, 343}, {71, 70}}</string>
			<key>offset</key>
			<string>{-14, 3}</string>
			<key>sourceSize</key>
			<string>{160, 120}</string>
		</dict>
		<key>JadePerch_death_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{479, 547}, {82, 63}}</string>
			<key>offset</key>
			<string>{-8, 2}</string>
			<key>sourceSize</key>
			<string>{160, 120}</string>
		</dict>
		<key>JadePerch_death_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{914, 530}, {86, 65}}</string>
			<key>offset</key>
			<string>{-6, 3}</string>
			<key>sourceSize</key>
			<string>{160, 120}</string>
		</dict>
		<key>JadePerch_death_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{89, 667}, {80, 75}}</string>
			<key>offset</key>
			<string>{-9, 6}</string>
			<key>sourceSize</key>
			<string>{160, 120}</string>
		</dict>
		<key>JadePerch_death_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{568, 499}, {83, 73}}</string>
			<key>offset</key>
			<string>{-3, 5}</string>
			<key>sourceSize</key>
			<string>{160, 120}</string>
		</dict>
		<key>Porgy_death_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{204, 489}, {100, 50}}</string>
			<key>offset</key>
			<string>{-4, 0}</string>
			<key>sourceSize</key>
			<string>{114, 55}</string>
		</dict>
		<key>Porgy_death_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{93, 561}, {90, 47}}</string>
			<key>offset</key>
			<string>{-3, 0}</string>
			<key>sourceSize</key>
			<string>{114, 55}</string>
		</dict>
		<key>Porgy_death_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{801, 536}, {85, 45}}</string>
			<key>offset</key>
			<string>{-5, 1}</string>
			<key>sourceSize</key>
			<string>{114, 55}</string>
		</dict>
		<key>Porgy_death_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{928, 96}, {95, 45}}</string>
			<key>offset</key>
			<string>{-1, 0}</string>
			<key>sourceSize</key>
			<string>{114, 55}</string>
		</dict>
		<key>Porgy_death_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{173, 330}, {109, 49}}</string>
			<key>offset</key>
			<string>{0, 1}</string>
			<key>sourceSize</key>
			<string>{114, 55}</string>
		</dict>
		<key>Ray_death_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{363, 294}, {164, 161}}</string>
			<key>offset</key>
			<string>{1, 8}</string>
			<key>sourceSize</key>
			<string>{235, 235}</string>
		</dict>
		<key>Ray_death_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{720, 147}, {167, 149}}</string>
			<key>offset</key>
			<string>{0, 6}</string>
			<key>sourceSize</key>
			<string>{235, 235}</string>
		</dict>
		<key>Ray_death_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{564, 1}, {186, 137}}</string>
			<key>offset</key>
			<string>{3, 5}</string>
			<key>sourceSize</key>
			<string>{235, 235}</string>
		</dict>
		<key>Ray_death_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 137}, {186, 138}}</string>
			<key>offset</key>
			<string>{3, 5}</string>
			<key>sourceSize</key>
			<string>{235, 235}</string>
		</dict>
		<key>Ray_death_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{188, 140}, {174, 154}}</string>
			<key>offset</key>
			<string>{6, 7}</string>
			<key>sourceSize</key>
			<string>{235, 235}</string>
		</dict>
		<key>游动/Chelonian_actor_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{376, 649}, {80, 101}}</string>
			<key>offset</key>
			<string>{-5, 0}</string>
			<key>sourceSize</key>
			<string>{115, 115}</string>
		</dict>
		<key>游动/Chelonian_actor_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 663}, {87, 92}}</string>
			<key>offset</key>
			<string>{-3, 0}</string>
			<key>sourceSize</key>
			<string>{115, 115}</string>
		</dict>
		<key>游动/Chelonian_actor_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 419}, {101, 59}}</string>
			<key>offset</key>
			<string>{-4, 0}</string>
			<key>sourceSize</key>
			<string>{115, 115}</string>
		</dict>
		<key>游动/Chelonian_actor_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{928, 1}, {95, 94}}</string>
			<key>offset</key>
			<string>{-1, -1}</string>
			<key>sourceSize</key>
			<string>{115, 115}</string>
		</dict>
		<key>游动/Chelonian_actor_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{305, 495}, {90, 104}}</string>
			<key>offset</key>
			<string>{-4, 0}</string>
			<key>sourceSize</key>
			<string>{115, 115}</string>
		</dict>
		<key>游动/Chelonian_actor_006.png</key>
		<dict>
			<key>frame</key>
			<string>{{279, 414}, {83, 74}}</string>
			<key>offset</key>
			<string>{-7, 0}</string>
			<key>sourceSize</key>
			<string>{115, 115}</string>
		</dict>
		<key>游动/Chelonian_actor_007.png</key>
		<dict>
			<key>frame</key>
			<string>{{479, 611}, {81, 80}}</string>
			<key>offset</key>
			<string>{-7, 0}</string>
			<key>sourceSize</key>
			<string>{115, 115}</string>
		</dict>
		<key>游动/Chelonian_actor_008.png</key>
		<dict>
			<key>frame</key>
			<string>{{562, 573}, {81, 94}}</string>
			<key>offset</key>
			<string>{-6, 0}</string>
			<key>sourceSize</key>
			<string>{115, 115}</string>
		</dict>
		<key>游动/Chelonian_actor_009.png</key>
		<dict>
			<key>frame</key>
			<string>{{652, 551}, {82, 101}}</string>
			<key>offset</key>
			<string>{-5, 0}</string>
			<key>sourceSize</key>
			<string>{115, 115}</string>
		</dict>
		<key>游动/GoldenTrout_actor_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{928, 142}, {92, 60}}</string>
			<key>offset</key>
			<string>{-5, -2}</string>
			<key>sourceSize</key>
			<string>{125, 94}</string>
		</dict>
		<key>游动/GoldenTrout_actor_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 479}, {100, 51}}</string>
			<key>offset</key>
			<string>{-1, 5}</string>
			<key>sourceSize</key>
			<string>{125, 94}</string>
		</dict>
		<key>游动/GoldenTrout_actor_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{103, 459}, {100, 55}}</string>
			<key>offset</key>
			<string>{-1, 1}</string>
			<key>sourceSize</key>
			<string>{125, 94}</string>
		</dict>
		<key>游动/GoldenTrout_actor_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 531}, {91, 65}}</string>
			<key>offset</key>
			<string>{-5, 5}</string>
			<key>sourceSize</key>
			<string>{125, 94}</string>
		</dict>
		<key>游动/GoldenTrout_actor_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{173, 417}, {102, 41}}</string>
			<key>offset</key>
			<string>{0, -3}</string>
			<key>sourceSize</key>
			<string>{125, 94}</string>
		</dict>
		<key>游动/GoldenTrout_actor_006.png</key>
		<dict>
			<key>frame</key>
			<string>{{363, 456}, {102, 38}}</string>
			<key>offset</key>
			<string>{0, 2}</string>
			<key>sourceSize</key>
			<string>{125, 94}</string>
		</dict>
		<key>游动/JadePerch_actor_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{914, 470}, {87, 59}}</string>
			<key>offset</key>
			<string>{-6, -1}</string>
			<key>sourceSize</key>
			<string>{160, 120}</string>
		</dict>
		<key>游动/JadePerch_actor_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 597}, {89, 65}}</string>
			<key>offset</key>
			<string>{-5, -1}</string>
			<key>sourceSize</key>
			<string>{160, 120}</string>
		</dict>
		<key>游动/JadePerch_actor_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{826, 470}, {87, 65}}</string>
			<key>offset</key>
			<string>{-6, -3}</string>
			<key>sourceSize</key>
			<string>{160, 120}</string>
		</dict>
		<key>游动/JadePerch_actor_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{715, 490}, {85, 60}}</string>
			<key>offset</key>
			<string>{-6, -5}</string>
			<key>sourceSize</key>
			<string>{160, 120}</string>
		</dict>
		<key>游动/JadePerch_actor_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{91, 609}, {89, 57}}</string>
			<key>offset</key>
			<string>{-5, -4}</string>
			<key>sourceSize</key>
			<string>{160, 120}</string>
		</dict>
		<key>游动/Porgy_actor_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{888, 203}, {111, 50}}</string>
			<key>offset</key>
			<string>{0, 1}</string>
			<key>sourceSize</key>
			<string>{114, 55}</string>
		</dict>
		<key>游动/Porgy_actor_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{882, 303}, {111, 46}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceSize</key>
			<string>{114, 55}</string>
		</dict>
		<key>游动/Porgy_actor_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{882, 393}, {111, 38}}</string>
			<key>offset</key>
			<string>{-1, 0}</string>
			<key>sourceSize</key>
			<string>{114, 55}</string>
		</dict>
		<key>游动/Porgy_actor_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{173, 295}, {110, 34}}</string>
			<key>offset</key>
			<string>{-1, 0}</string>
			<key>sourceSize</key>
			<string>{114, 55}</string>
		</dict>
		<key>游动/Porgy_actor_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{882, 432}, {110, 37}}</string>
			<key>offset</key>
			<string>{-1, 2}</string>
			<key>sourceSize</key>
			<string>{114, 55}</string>
		</dict>
		<key>游动/Porgy_actor_006.png</key>
		<dict>
			<key>frame</key>
			<string>{{715, 454}, {110, 35}}</string>
			<key>offset</key>
			<string>{-1, 1}</string>
			<key>sourceSize</key>
			<string>{114, 55}</string>
		</dict>
		<key>游动/Porgy_actor_007.png</key>
		<dict>
			<key>frame</key>
			<string>{{528, 451}, {110, 35}}</string>
			<key>offset</key>
			<string>{-1, 0}</string>
			<key>sourceSize</key>
			<string>{114, 55}</string>
		</dict>
		<key>游动/Porgy_actor_008.png</key>
		<dict>
			<key>frame</key>
			<string>{{882, 350}, {111, 42}}</string>
			<key>offset</key>
			<string>{-1, 0}</string>
			<key>sourceSize</key>
			<string>{114, 55}</string>
		</dict>
		<key>游动/Porgy_actor_009.png</key>
		<dict>
			<key>frame</key>
			<string>{{888, 254}, {111, 48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>sourceSize</key>
			<string>{114, 55}</string>
		</dict>
		<key>游动/Ray_actor_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{552, 289}, {164, 161}}</string>
			<key>offset</key>
			<string>{1, 8}</string>
			<key>sourceSize</key>
			<string>{235, 235}</string>
		</dict>
		<key>游动/Ray_actor_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{717, 297}, {164, 156}}</string>
			<key>offset</key>
			<string>{2, 7}</string>
			<key>sourceSize</key>
			<string>{235, 235}</string>
		</dict>
		<key>游动/Ray_actor_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{552, 139}, {167, 149}}</string>
			<key>offset</key>
			<string>{0, 6}</string>
			<key>sourceSize</key>
			<string>{235, 235}</string>
		</dict>
		<key>游动/Ray_actor_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 276}, {171, 142}}</string>
			<key>offset</key>
			<string>{-2, 5}</string>
			<key>sourceSize</key>
			<string>{235, 235}</string>
		</dict>
		<key>游动/Ray_actor_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{377, 1}, {186, 137}}</string>
			<key>offset</key>
			<string>{3, 5}</string>
			<key>sourceSize</key>
			<string>{235, 235}</string>
		</dict>
		<key>游动/Ray_actor_006.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {188, 135}}</string>
			<key>offset</key>
			<string>{2, 4}</string>
			<key>sourceSize</key>
			<string>{235, 235}</string>
		</dict>
		<key>游动/Ray_actor_007.png</key>
		<dict>
			<key>frame</key>
			<string>{{190, 1}, {186, 138}}</string>
			<key>offset</key>
			<string>{3, 5}</string>
			<key>sourceSize</key>
			<string>{235, 235}</string>
		</dict>
		<key>游动/Ray_actor_008.png</key>
		<dict>
			<key>frame</key>
			<string>{{751, 1}, {176, 145}}</string>
			<key>offset</key>
			<string>{3, 6}</string>
			<key>sourceSize</key>
			<string>{235, 235}</string>
		</dict>
		<key>游动/Ray_actor_009.png</key>
		<dict>
			<key>frame</key>
			<string>{{377, 139}, {174, 154}}</string>
			<key>offset</key>
			<string>{6, 7}</string>
			<key>sourceSize</key>
			<string>{235, 235}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>1</integer>
		<key>realTextureFileName</key>
		<string>FishActor-Large.png</string>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:d8ba96e0c5fe9e52d1a4dc76dd12e18b$</string>
		<key>textureFileName</key>
		<string>FishActor-Large.png</string>
	</dict>
</dict>
</plist>
